extends layout

block content
  h1= title
  form(name= 'formNewUser', id='formNewUser', action='/index', method='post')
    table(style= 'width: 50%; border: 2px solid black; text-align: center')
      tr
        div
          td(style= 'padding: 20px') First Name: 
            input(type= 'text', name= 'inputFirstName', id= 'inputFirstName', style= 'width: 30%; height: 24px')
      tr
        div
          td(style= 'padding: 20px') Email: 
            input(type= 'text', name= 'inputEmail', id= 'inputEmail', style= 'width: 30%; height: 24px')
      tr
        div
          td(style= 'padding: 20px') 
            button(type= 'submit') Submit
