extends layout

block content
  h1= title
  table
    if errors 
      for error in errors
        tr
          td(style='color: red')= error
  form(name= 'formNewUser', id='formNewUser', action='/index', method='post')
    table(style= 'width: 50%; border: 2px solid black; text-align: center')
      tr
        div
          td(style= 'padding: 20px') Name: 
            input(type= 'text', name= 'inputName', id= 'inputName', style= 'width: 30%; height: 24px', value= filledName || '')  
      tr
        div
          td(style= 'padding: 20px') Email: 
            input(type= 'text', name= 'inputEmail', id= 'inputEmail', style= 'width: 30%; height: 24px', value= filledEmail || '') 
      tr
        div
          td(style= 'padding: 20px') 
            button(type= 'submit') Submit
